{% layout "layout.liquid" %} {% block content %}
<div class="container">
<a href="/index/">Go Back</a><br>
{{ showCard.name }}<br>
<img src="{{ showCard.img }}"><br>
Player Class: {{ showCard.playerClass }}<br>
Card Type: {{ showCard.type }}<br>
Card Text: {{ showCard.text }}<br>
</div>
 {% if loggedIn and onUser.isAdmin %}
<div>          
    <form action="/users/{{ showCard._id }}/add" method="POST">
    <input type="submit" value="Add To Collection:"/>
    <select id="deck" name="collection">
    {% for collects in usersCollectionsSpecified %}
    <option value="{{ collects._id }}">{{ collects.name }}</option>
    {% endfor %}
    </select>
</form>
</div>
<div>
    <a href="/index/{{ showCard._id }}/edit"><button>Edit</button></a>
    <a href="/index/{{ showCard._id }}/delete"><button>Delete</button></a>
</div>
{% endif %}
<div class="comments">
    {{ showCard.comments }}
</div>









{% endblock %}