{% layout "layout.liquid" %} {% block content %}
    <div class="container">
        {% if username != "" and username != null %}
        <div class="loggedin">
        Welcome, <b>{{ username }}</b> ! <a href="/users/logout"><button>Logout</button></a>
        </div>
        {% else %}
        <div>
            Welcome! Not a User?
            <a href="/users/signup"><button>Signup</button></a> | 
            <a href="/users/login"><button>Login</button></a>
            </div>
        {% endif %}
        <div></div>
        {% if username != "" and username != null %}
        {% endif %}
        <div></div>
        <div><br><a href="/users/myCollections">Back to Collections</a><br>
            <h1>{{ collectsCards.name }}</h1></div><br>
        <div>
            {% for cards in collectCards %}
            <img src="{{ cards.img }}" alt="">
            <!-- <a href="/users/myCollections/{{ cards.id }}">{{ cards.name }}</a><br> -->
            {% endfor %}
        </div>
    </div>
{% endblock %}